:global{
  .linked-editable {
    font-size: 12px;
    color: #084c87;
    text-decoration: none;
    border: 1px solid rgba($color: #084c87, $alpha: 1);
    margin: 0 0 0 5px;
    padding: 0 1px 0px 1px;
    border-radius: 3px;
  }
}