.a4{
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 1240px;
  height: 1754px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);  
}

.buttonWrapper{
  margin: 40px auto 0 auto;
  text-align: center;
}