.headerPicWrapper {
  position: relative;
  overflow: hidden;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.children {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

input{
  z-index: 999;
  position: relative;
}