$feature-color: #519dcc;
.cv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  color: #595959;
  font-weight: 200;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
}

// ===== header ===== //
.header {
  // height: 100%;
  // background-color: $feature-color;
  // padding: 40px 80px 40px 80px;
  color: #fff;
}

.nameAndProfession {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
}

.names {
  display: flex;
  align-items: baseline;
}

.name {
  font-size: 60px;
  margin: 40px 20px 40px 0;
}

.nickname {
  font-size: 30px;
}

.profession {
  font-size: 30px;
  margin: 0;
}

.profileAndContact {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 15px;
}

// main
.main {
  flex-grow: 1;
  padding: 40px 80px 20px 80px; // height: 100%;
}

.sections {
  // column-count: 2; //  column-width: 75%;
  //  column-gap: 20%;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column; // align-items: stretch;
  // min-height: 1200px;
  // width: 100%;
  height: 600px; // width: 40%;
  // height: 900px;
}

.section {
  width: 100%;
  // display: inline-block;
  // height: 40px;
  // height: 200px;
}

.sectionTitle {
  margin: 25px 0 10px 0;
  // display: inline;
  // display: inline-block;
  line-height: 1.4;
  color: $feature-color;
  // background-color: #eee;
  border-bottom: 2px solid #eee;
  // border-radius: 10px;
  padding: 0 0 5px 0;
  // text-align: center;
}

.list {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  margin: 0 0 20px 0;
}

.listItem:last-of-type {
  // margin: 0;
}

.rowTexts {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}